---
layout: lecture
title: jump
---

section.center data-background="#000"
  h1.white jump

section.center
  img.inline src="images/me.png"

section.center
  p: a(href="http://gsamokovarov.com") @gsamokovarov

section data-background="images/pixelparty.gif"
section data-background="images/epileptic.gif"

section.center data-background="#000"
  h2.white <3 $SHELL

section.center data-background="#000"
  p.white I wanna type less.

section.center
  p cd(1), pushd(1), popd(1)

section.center
  img.inline src="images/yolo.png"

section.center data-background="#000"
  h2.white aliases

section.center data-background="#000"
  pre.white
    '
      alias wc="cd /Users/genadi/Development/web-console"
      alias rls="cd /Users/genadi/Development/rails"
      alias gw="cd /Users/genadi/Development/gateway"

section.center
  img.inline src="images/smiley.jpg"

section.center
  p Tedious to change.

section.center
  img.inline src="images/sad.png"

section.center
  h2 autojump(1)

section.center
  p A faster way to navigate your filesystem.

section.center
  p Works by maintaining a database of the directories you use the most from the command line.

section.center
  img.inline src="images/smiley.jpg"

section.center data-background="#000"
  pre.white
    '
      $ j rails
      $ pwd
      /Users/genadi/Development/rails

section.center
  p Requires a working Python installation.

section.center
  img.inline src="images/troll.png"

section.center
  p Tedious to integrate with the shell.

section.center
  p Its not fuzzy.

section.center
  img.inline src="images/sad.png"

section.center data-background="#000"
  h2.white z(1)

section.center
  img.inline src="images/smiley.jpg"

section.center
  p Doesn't work on fish shell.

section.center
  p Its not fuzzy.

section.center
  img.inline src="images/sad.png"

section.center data-background="#F00"
  h2.white jump

section.center data-background="#0F0"
  h2.white jump

section.center data-background="#0FF"
  h2.white jump

section.center data-background="#F0F"
  h2.white jump

section.center
  p Kinda like autojump(1) or z(1).

section.center data-background="images/bubbles.gif"
  h2.fragment.white FUZZY!
section.center data-background="images/bubbles.gif"
  h2.white YOU TYPE LESS!
section.center data-background="images/bubbles.gif"
  h2.white AWESOME!

section.center data-background="#000"
  h2.fragment.white DEMO

section.center data-background="#000"
section.center data-background="#000"
  pre.white
    '
      $ brew tap gsamokovarov/jump
      $ brew install jump

section.center data-background="#000"
  pre.white
    '
      $ eval "$(jump shell)"

section.center
  p: a(href="http://gsamokovarov.com/jump") http://gsamokovarov.com/jump

section.center
  p: a(href="http://github.com/gsamokovarov/jump") http://github.com/gsamokovarov/jump

section data-background="images/jump.gif"
